@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#logo-container svg {
        width: 100% !important;
}

svg text {
        font-family: inherit !important;
}

svg tspan {
        font-family: inherit !important;
}